@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans JP", "Roboto", "M PLUS 1", sans-serif;
}

img {
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

h1, h2, h3, h4, h5, h6, ul, li, dt, dl, dd, p {
  overflow: hidden;
}

/* colors */
/* button */
.l-footer {
  background-image: url(../../../img/footer_img-tablet.jpg);
  height: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .l-footer {
    height: 12vw;
  }
}
@media screen and (max-width: 768px) {
  .l-footer {
    justify-content: space-around;
    height: 20vw;
  }
}

.l-header {
  background-color: #FFF7EF;
}
.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11vw;
}
@media screen and (max-width: 1200px) {
  .l-header__inner {
    flex-direction: column;
    justify-content: space-around;
    margin-top: auto;
    height: 20vw;
  }
}
@media screen and (max-width: 768px) {
  .l-header__inner {
    height: 30vw;
  }
}

.l-sidebar {
  width: 20vw;
  background-color: #F2EDE9;
  left: 0;
  transition: left 0.2s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .l-sidebar {
    position: absolute;
    top: 0;
    width: var(--tablet-width);
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .l-sidebar {
    width: var(--phone-width);
  }
}
.l-sidebar.active {
  height: 950px;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .l-sidebar.active {
    left: calc(var(--tablet-width) * -1);
  }
}
@media screen and (max-width: 768px) {
  .l-sidebar.active {
    left: calc(var(--phone-width) * -1);
  }
}

/* 横線 */
.c-border {
  color: #FFF;
}
.c-border--outin {
  width: 3.6vw;
  border-bottom: 4px solid;
  margin: 2.5vw 0 0 0;
}
@media screen and (max-width: 1200px) {
  .c-border--outin {
    width: 3.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-border--outin {
    width: 9vw;
  }
}
.c-border--map {
  border-bottom: 2px solid #FFF;
  width: 4.3vw;
  margin: 2vw 0 2.5vw 0;
}
@media screen and (max-width: 1200px) {
  .c-border--map {
    width: 6.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-border--map {
    width: 17vw;
    margin: 4vw 0;
  }
}

/* ボタン */
.c-button {
  width: 136px;
  height: 46px;
  background-color: #F2EDE9;
  border: 1px solid #707070;
  border-radius: 10px;
}
.c-button--header {
  margin: 0 10px;
  color: #707070;
}
@media screen and (max-width: 768px) {
  .c-button--header {
    width: 18vw;
    height: 6.2vw;
    font-size: 2.5vw;
  }
}

.c-hamburger {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 34px;
  color: #707070;
}
.c-hamburger--header {
  display: none;
}
@media screen and (max-width: 1200px) {
  .c-hamburger--header {
    position: absolute;
    display: block;
    top: 20px;
    right: 25px;
    font-size: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .c-hamburger--header {
    top: 8px;
    right: 8px;
    font-size: 5vw;
  }
}
.c-hamburger--sidebar {
  display: none;
  width: 9vw;
  height: 9vw;
  position: absolute;
  top: 1vw;
  right: 1vw;
}
@media screen and (max-width: 768px) {
  .c-hamburger--sidebar {
    top: 2vw;
    right: 2vw;
  }
}
.c-hamburger--sidebar::before, .c-hamburger--sidebar::after {
  content: "";
  position: absolute;
  top: 50%;
  background-color: #707070;
  width: 7vw;
  height: 0.6vw;
  left: calc(50% - 7vw/2);
}
@media screen and (max-width: 768px) {
  .c-hamburger--sidebar::before, .c-hamburger--sidebar::after {
    width: 9vw;
    height: 0.8vw;
    left: calc(50% - 9vw/2);
  }
}
.c-hamburger--sidebar::before {
  transform: rotate(45deg);
}
.c-hamburger--sidebar::after {
  transform: rotate(-45deg);
}
@media screen and (max-width: 1200px) {
  .c-hamburger--sidebar {
    display: block;
  }
}

/* 虫眼鏡 */
.c-grass {
  background-image: url(../../../img/search01.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  left: 10px;
}
@media screen and (max-width: 768px) {
  .c-grass {
    background-size: 3.1vw;
    left: 1.5vw;
  }
}

/*  input ボタン */
.c-input {
  width: 396px;
  height: 46px;
  background-color: #FFF;
  border: 1px solid #707070;
  border-radius: 10px;
}
.c-input--header {
  position: relative;
  padding-left: 50px;
  width: 21vw;
}
@media screen and (max-width: 1200px) {
  .c-input--header {
    width: 45vw;
  }
}
@media screen and (max-width: 768px) {
  .c-input--header {
    width: 53vw;
    height: 6.2vw;
    font-size: 2.3vw;
    padding-left: 7vw;
  }
}

/* 基本 layout 設定 */
.c-wrapper {
  position: relative;
  display: grid;
}
.c-wrapper .l-header {
  grid-column: 1/2;
  grid-row: 1/2;
}
.c-wrapper .l-main {
  grid-column: 1/2;
  grid-row: 2/3;
}
.c-wrapper .l-footer {
  grid-column: 1/3;
  grid-row: 3/4;
}
.c-wrapper .l-sidebar {
  grid-column: 2/3;
  grid-row: 1/3;
}

/* outin-box 中身 */
.c-outin {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.c-outin--takeout {
  margin-right: 3vw;
  padding: 1.7vw;
  background-image: url(../../../img/home_take-out_.jpg);
}
@media screen and (max-width: 1200px) {
  .c-outin--takeout {
    margin-right: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-outin--takeout {
    margin-right: 0;
    padding: 3vw;
  }
}
.c-outin--eatin {
  margin-left: 3vw;
  padding: 1.7vw;
  background-image: url(../../../img/home-eat_in.jpg);
}
@media screen and (max-width: 1200px) {
  .c-outin--eatin {
    margin-left: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-outin--eatin {
    margin-left: 0;
    padding: 3vw;
  }
}
.c-outin__block {
  display: grid;
  gap: 1.7vw;
}
@media screen and (max-width: 768px) {
  .c-outin__block {
    gap: 3vw;
  }
}
.c-outin__inner {
  align-items: end;
  box-sizing: border-box;
  padding: 1.5vw;
  background-color: #FFF;
  opacity: 80%;
}
@media screen and (max-width: 768px) {
  .c-outin__inner {
    padding: 2vw;
  }
}

/* JS class sidebar以外scrollさせない */
.c-no_scroll {
  position: -webkit-sticky;
  position: sticky;
}
.c-no_scroll.active {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
}

/* sidebar表示時のブラインド */
.c-shadow {
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.502);
  position: fixed;
  z-index: 1;
}
.c-shadow.active {
  height: 100%;
}

/* text */
.c-text {
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  color: #3C2A10;
}
.c-text--outin_content {
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 2vw;
}
@media screen and (max-width: 1200px) {
  .c-text--outin_content {
    font-size: 1.6vw;
    line-height: 2.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--outin_content {
    font-size: 3vw;
    line-height: 5vw;
  }
}
.c-text--map {
  position: relative;
  font-size: 0.9vw;
  line-height: 2vw;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .c-text--map {
    font-size: 1.5vw;
    line-height: 3.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--map {
    font-size: 2.7vw;
    line-height: 6vw;
  }
}
.c-text--footer {
  font-weight: lighter;
  font-size: 1.1vw;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .c-text--footer {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--footer {
    font-size: 3vw;
  }
}
.c-text--copyright {
  font-weight: lighter;
  font-size: 0.7vw;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .c-text--copyright {
    font-size: 1vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--copyright {
    font-size: 2vw;
  }
}
.c-text--menu-item {
  color: #707070;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.6vw;
  margin-top: 1.7vw;
  margin-left: 1.1vw;
}
@media screen and (max-width: 1200px) {
  .c-text--menu-item {
    font-size: 2.5vw;
    line-height: 5vw;
    margin-left: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .c-text--menu-item {
    font-size: 3.5vw;
    line-height: 8vw;
    margin-left: 5vw;
  }
}

/* title */
.c-title {
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-weight: bold;
}
.c-title--header {
  font-size: 4.5vw;
  margin-left: 65px;
}
@media screen and (max-width: 1200px) {
  .c-title--header {
    font-size: 6vw;
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .c-title--header {
    font-size: 10vw;
  }
}
.c-title--visual {
  display: flex;
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  font-size: 48px;
  margin-left: 4vw;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .c-title--visual {
    font-size: 7vw;
    margin-left: 10vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--visual {
    margin-left: 10vw;
  }
}
.c-title--outin_title {
  font-size: 4vw;
  padding-top: 1.8vw;
  color: #EAEAEA;
}
@media screen and (max-width: 1200px) {
  .c-title--outin_title {
    font-size: 4.5vw;
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .c-title--outin_title {
    font-size: 11vw;
  }
}
.c-title--outin_subtitle {
  font-family: "M PLUS 1", sans-serif;
  color: #3C2A10;
  font-size: 2vw;
  padding-bottom: 1.5vw;
}
@media screen and (max-width: 1200px) {
  .c-title--outin_subtitle {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--outin_subtitle {
    font-size: 5vw;
  }
}
.c-title--map {
  font-family: "M PLUS 1", sans-serif;
  color: #FFF;
  font-size: 2vw;
}
@media screen and (max-width: 1200px) {
  .c-title--map {
    font-size: 2.6vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--map {
    font-size: 7vw;
  }
}
.c-title--sidebar-title {
  font-size: 1.8vw;
  padding-top: 4.5vw;
  padding-bottom: 2.3vw;
}
@media screen and (max-width: 1200px) {
  .c-title--sidebar-title {
    visibility: hidden;
  }
}
.c-title--menu {
  font-family: "M PLUS 1", sans-serif;
  width: 40%;
  font-size: 1.3vw;
  margin-top: 2.7vw;
}
@media screen and (max-width: 1200px) {
  .c-title--menu {
    font-size: 3.7vw;
    margin-top: 9vw;
    margin-bottom: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .c-title--menu {
    font-size: 5.5vw;
    margin-top: 14vw;
    margin-bottom: 7vw;
  }
}

/* google map layout */
.p-map {
  position: relative;
  height: auto;
}
.p-map__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.p-map__google-map {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 70%;
}
.p-map__section {
  position: relative;
  width: 60vw;
  padding: 4vw;
  background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1200px) {
  .p-map__section {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .p-map__section {
    padding: 10vw;
  }
}

/* sidebar menu */
.p-menu {
  padding-left: 2.4vw;
}
@media screen and (max-width: 1200px) {
  .p-menu {
    padding-left: 6.4vw;
  }
}
@media screen and (max-width: 768px) {
  .p-menu {
    padding-left: 11vw;
  }
}

/* outin-Box 外枠 */
.p-outin {
  display: flex;
  justify-content: center;
  padding: 5vw 5vw;
}
@media screen and (max-width: 1200px) {
  .p-outin {
    padding: 3.5vw 3.5vw;
  }
}
@media screen and (max-width: 768px) {
  .p-outin {
    display: grid;
    gap: 3vw;
    flex-direction: column;
  }
}
.p-outin__box {
  width: 100%;
  display: flex;
}
.p-outin__inner {
  display: grid;
  grid-template-rows: 300px 1fr;
}
.p-outin__title {
  grid-row: 1/2;
}
.p-outin__content {
  grid-row: 3/4;
}

/* input タグの設定 */
.p-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-search__container {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow-y: hidden;
}
.p-search__grass {
  position: absolute;
  align-items: center;
}

/* header下のvisual */
.p-visual {
  display: flex;
  align-items: center;
  background-image: url(../../../img/mainvisual-sp.jpg);
  height: 23vw;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 1200px) {
  .p-visual {
    height: 50vw;
  }
}

@media screen and (max-width: 768px) {
  .u-search {
    width: 80vw;
    height: 7vw;
  }
}

/*
Foundation
----------------------------- */
/*
Layout
----------------------------- */
/*
Component
----------------------------- */
/*
Project
----------------------------- */
/*
Utility
----------------------------- */
/*# sourceMappingURL=style.css.map */