@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

/* header下のvisual */

.p-visual {
    display: flex;
    align-items: center;
    background-image: url(../../../img/mainvisual-sp.jpg);
    height: 23vw;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include m.mq(md) {
        height: 40vw;
    }
    @include m.mq(sp) {
        height: 80vw;
    }
}