@use '../foundation/variable' as v;
@use '../foundation/mixin' as m;

.l-map {
    position: relative;
    @include m.mq(sp) {
        margin-top: 7vw;
    }
    &__google-map {
        width: 100%;
        opacity: 70%;
        // height: 35vw;
        @include m.mq(sp) {
            height: 180vw;
        }
    }
    &__section {
        position: absolute;
        top: 0;
        left: 0;
        width: 60vw;
        height: 100%;
        padding-left: 4vw;
        overflow: hidden;   
        background-color: rgba(0, 0, 0, 40%);
        // @include m.mq(wd) {
        //     padding-left: 80px;
        // }
        @include m.mq(md) {
            width: 100%;
        }
        @include m.mq(sp) {
            padding: 6vw;
            height:65%;
        }
    }
}